* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    z-index: 9999;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(16px + .4vw);
    background-color: rgb(235, 234, 234);
}

header {
    width: 100%;
    padding: 25px;
    text-align: center;
    background-color: rgb(48, 216, 228);
}

header h1 {
    font-size: 50px;
    letter-spacing: -0.02em;
    line-height: .8em;
    color: white;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.card-body {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-body:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.025, 1.025);
}